body {
	margin: 0;
	background-color: darkslategray;
	color: lightcyan;
}

div.text {
	margin: 40px;
}

h4 {
	background-color: black;
	color: white;
	font-size:150%;
	padding: 10px;
	margin: 0px;

}

h4 a {
	font-size:100%;
	cursor: default;
	color: white;
	padding:0;
}

h4 a:hover {
	color: wheat;
}

h2 {
	color: black;
	width:100%;
	background: wheat;
	font-size:150%;
	margin:0;
	padding: 5px;
	text-align: center;
}

h3 {
	font-size:150%;
}

p {
	letter-spacing: 1px;
	line-height: 40px;
	font-size: 120%;
	padding: 10px;
}
figure {
	float: left;
	width: 40%;
}
figure img{
	width: 100%;
}

figure figcaption, a {
	font-size: 80%;
	color: white;
}


nav ul{
	margin: 0;
	float: right;
	width: 100%;
	display: inline-flex;
	list-style:none;

}

nav ul li{
	display: inline-flex;
	width: 100%;
	color: white;
	text-align: center;
}


nav ul li a, nav ul li span {
	cursor: default;
	border-style: solid;
	border-color:rgba(0, 0, 0, 0.025);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-size: 120%;
}

nav ul li span {
	background-color: rgba(0, 0, 0, 0.10);
	border-color:rgba(0, 0, 0, 0);
}

li a:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border-color:rgba(0, 0, 0, 0);
  }


.block {
	float: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 120%;
	display: inline-flex;
	width: 50%;
	border: none;
	color: white;
	padding: 14px 28px;
	text-align: center;
	background: rgba(0, 0, 0, 0);
}


.block:hover {
	background-color: rgba(0, 0, 0, 0.135);
}

table {
	margin-bottom: 40px;
	padding:5px;
	float:left;
	width: 50%;
}

table tr td, th {
	border: 3px solid;
	border-color: rgb(255, 255, 255, 0.1);
	padding: 5px;
	text-align:center;
}

footer {
	position:fixed;
	top: 95%;
	float: center;
	padding: 10px;
	background: black;
	width: 100%;
}

div p.buffer {
	color: rgba(0, 0, 0, 0);
}